<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.box.biz">

    <application>
        <activity
            android:name=".gui.activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gui.activities.MainActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="PhotoPicker"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/photo_path" />
        </provider>
    </application>
</manifest>
